/* Responsive Design */
@media (max-width: 900px) {
    .CPU-selection {
        max-width: 98vw;
        font-size: 1.5rem;
        padding: 1.5%;
    }
    .hardware-score {
        width: 98vw;
        font-size: 1.2rem;
    }
    .heading {
        font-size: 1.7rem;
    }
}

@media (max-width: 600px) {
    .CPU-selection {
        width: 100vw;
        max-width: 100vw;
        font-size: 1.1rem;
        padding: 1%;
    }
    .hardware-score {
        width: 100vw;
        font-size: 1rem;
    }
    .heading {
        font-size: 1.2rem;
    }
    .logo {
        width: 60px !important;
        padding-right: 2px;
    }
}
body {
    background-color: rgb(246, 246, 232);
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.3rem;
}

.logo {
    padding-right: 6px;
}


.CPU-selection {
    background-color: #a3cde9;
    box-sizing: border-box;
    width: 95%;
    height: 60vh;
    max-height: 440px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 1.8rem;
}


.hardware-score {
    margin: 6px auto;
    width: 90%;
    font-size: 1.5rem;
}
